.lead__image {
  display: block;
  width: 100%;

  object-fit: cover;
  margin: 0;
  padding: 0;

  padding-top: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    padding-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    padding-top: 40px;
  }
} 