.cover {
  margin: 0 auto;
  margin-top: 92px;
  padding: 0;
  
  max-width: 1184px;

  background: url(../../../images/cover.jpg) center center / cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-top: 90px;
    padding: 0;
  }
} 

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 66px;
    padding: 0;
  }
} 

